<div class="card">
    <div class="card-image">
        <figure class="image is-4by3 box has-text-centered">
            <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
            <a class="button is-warning" href="/need">
                Necesito ayuda
            </a>
        </figure>
    </div>
    <div class="card-content">
        <strong>¿Cómo funciona?</strong>
        <div class="content">
            <p>
                <ol>
                    <li>Publica tu necesidad, te pediremos un correo.</li>
                    <li>Recibirás hasta un máximo de 3 ofrecimientos, tras esos 3 se desactivará el anuncio</li>
                    <li>Si estás deacuerdo con la ayuda, tu decides a quien escribes. Si no te da seguridad, vuelves a
                        activar
                        la solicitud</li>
                </ol>
            </p>
        </div>
    </div>
</div>