<div class="card">
    <a href="/need">
        <div class="card-image">
            <figure class="image has-text-centered has-centered-btn">
                <img src="https://images.unsplash.com/photo-1559225306-3f60aa7b39a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                    alt="Placeholder image">
                <a class="button is-warning is-absolute" href="/need">
                    Necesito ayuda
                </a>
            </figure>
        </div>
    </a>
    <div class="card-content">
        <strong>¿Cómo funciona?</strong>
        <div class="content">
            <p>
                <ol>
                    <li>Publica tu necesidad, te pediremos un correo.</li>
                    <li>Recibirás hasta un máximo de 3 ofrecimientos, tras esos 3 se desactivará el anuncio</li>
                    <li>Si estás deacuerdo con la ayuda, tu decides a quien escribes. Si no te da seguridad, vuelves a
                        activar
                        la solicitud</li>
                </ol>
            </p>
        </div>
    </div>
</div>