<div class="card">
    <a href="/offer">
        <div class="card-image">
            <figure class="image has-text-centered has-centered-btn">
                <img src="https://images.unsplash.com/photo-1508847154043-be5407fcaa5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
                    alt="Placeholder image">
                <a class="button is-primary is-absolute" href="/offer" data="to-offer">
                    Puedo ayudar
                </a>
            </figure>
        </div>
    </a>
    <div class="card-content">
        <strong>¿Cómo puedo ayudar?</strong>
        <div class="content">
            <p>
                <ol>
                    <li>Busca necesidades CERCA de tu domicilio</li>
                    <li>Ofrécete a ayudar, adjunta un texto y tus datos de contacto a tu solicitud (máximo 2 al día)
                    </li>
                    <li>Nosotros nos pondremos en contacto con la persona a ayudar, quien podrá elegir al voluntario que
                        más le
                        corresponda
                    </li>
                </ol>
            </p>
        </div>
    </div>
</div>