<div class="card">
    <div class="card-image">
        <figure class="image is-4by3 box has-text-centered">
            <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
            <a class="button is-primary" href="/offer" data="to-offer">
                Puedo ayudar
            </a>
        </figure>
    </div>
    <div class="card-content">
        <strong>¿Cómo funciona?</strong>
        <div class="content">
            <p>
                <ol>
                    <li>Busca necesidades CERCA de tu domicilio</li>
                    <li>Ofrécete a ayudar, adjunta un texto y tus datos de contacto a tu solicitud</li>
                    <li>Nosotros nos pondremos en contacto con la persona a ayudar, quien podrá elegir al voluntario que
                        más le
                        corresponda</li>
                    <li>Podrás ofrecer tu ayuda a 2 necesidades sin respuesta. Si no responden, en un día se liberará.
                    </li>
                </ol>
            </p>
        </div>
    </div>
</div>