body {
  font-family: "Roboto", sans-serif;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.is-100vh {
  height: 100vh;
}

.has-padding-10 {
  padding-top: 10px;
}

.has-centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-absolute {
  position: absolute;
}

tbody > tr:hover {
  background-color: hsl(171, 100%, 41%);
  color: white;
}

#map {
  width: 100%;
  height: 500px;
}
