body {
  font-family: "Roboto", sans-serif;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.is-100vh {
  height: 100vh;
}

tbody > tr:hover {
  background-color: hsl(171, 100%, 41%);
  color: white;
}

#map {
  width: 100%;
  height: 500px;
}
