<!doctype html>
<html class="has-navbar-fixed-top">

<head>
  {% include '/default_head.html' %}
</head>

<body>
  {% include '/header.html' %}



  <!-- Init container-->

  <div class="container">
    <div class="columns">
      <div class="column">
        {% include '/cards/NeedCard.html' %}
      </div>
      <div class="column">
        {% include '/cards/OfferCard.html' %}
      </div>
    </div>
  </div>


  <!--End Container-->


  <!-- init footer -->

  {% include '/footer.html' %}
</body>
<script src="{{ url_for('static', filename='getZone.js') }}"></script>

</html>