<!doctype html>
<html class="has-navbar-fixed-top">

<head>
  {% include '/default_head.html' %}
</head>

<body>
  {% include '/header.html' %}

  <div class="container is-100vh">

    <div class="columns">
      <!-- Info Layout-->
      <div class="column">

        <h1 class="title">{{need.title}}</h1>
        <h6 class="subtitle is-6">
          Fecha de publicación: {{need.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}
        </h6>
        <h2 class="subtitle">
          {{need.description}}
        </h2>
        <h2 class="subtitle">
          <a style="background-color: green;color: white;" href="/enable?h={{need.hash}}">ENABLE</a>
          <a style="background-color: red;color:white" href="/disable?h={{need.hash}}">DISABLE</a> 
        </h2>
      </div>
      <!-- Map-->
      <div class="column has-text-centered">

        <img
          src="https://maps.googleapis.com/maps/api/staticmap?center={{need.lat}},{{need.lng}}&zoom=13&size=480x320&maptype=roadmap&markers={{need.lat}},{{need.lng}}&key={{context.key}}">

      </div>
    </div>

    <div class="has-background-light">
      <div class="container is-fluid">

        <form method="post" action="{{ url_for('stored_enroll_form') }}">
          <div class="container">
            <h4 class="subtitle is-4 has-text-centered has-padding-10">Ofrecerme como ayudante</h4>
          </div>
          <div class="field">
            <label class="label">Correo</label>
            <div class="control">
              <input class="input" type="email" placeholder="Introduce un correo" name="email">
            </div>
          </div>

          <div class="field">
            <label class="label">Teléfono</label>
            <div class="control">
              <input class="input" type="tel" placeholder="Introduce un teléfono" name="phone">
            </div>
          </div>

          <div class="field">
            <label class="label" for="comment">Comentario</label>
            <div class="control">
              <textarea class="textarea" name="comment" placeholder="Comentario"></textarea>
            </div>
          </div>

          <input id="need_hash" name="need_hash" hidden>
          <section class="section">
            <div class="container">
              <div class="control has-text-centered">
                <input type="submit" class="button is-primary" value="Enviar">
              </div>
            </div>
          </section>

        </form>
      </div>
    </div>
  </div>

  <script>
    var urlParams = new URLSearchParams(window.location.search);
    document.getElementById('need_hash').value = urlParams.get('h');
  </script>
</body>

</html>