<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  {% include '/default_head.html' %}
</head>

<body>
  {% include '/header.html' %}
  <div id="container">
    <div class="pagetitle">
      <h2>¿Qué necesitas?</h2>
    </div>
    <div id="main">
      <form method="post" action="{{ url_for('stored_need_form') }}">
        <label for="email">Correo:</label><br>
        <input type="email" name="email"><br>
        <small>El correo no se va a enviar a nadie, servirá para enviarte el contacto cuando alguien esté
          interesado.</small><br>
        <label for="title">Título:</label><br>
        <input type="text" name="title"><br>
        <label for="description">Descripción:</label><br>
        <textarea name="description" rows="6" cols="70"></textarea><br>
        <small>No es aconsejable dar excesivos detalles, ya se acordará por privado.</small>
        <input type="text" name="lat" id="lat" readonly="yes" hidden>
        <input type="text" name="lng" id="lng" readonly="yes" hidden>
        <h2>¿Dónde?</h2>
        <p>Haz click sobre el mapa para seleccionar la zona aproximada</p>
        <small>No es aconsejable utilizar la dirección exacta (utilizar el barrio, por ejemplo), ya se acordará por
          privado.</small>
        <div id="map"></div>
        <input type="submit">
      </form>
    </div>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{context.key}}&callback=initMap">
  </script>
  <script>
    //Set up some of our variables.
    var map; //Will contain map object.
    var marker = false; ////Has the user plotted their location marker? 

    //Function called to initialize / create the map.
    //This is called when the page has loaded.
    function initMap() {

      //The center location of our map.
      var centerOfMap = new google.maps.LatLng(39.9776665, -4.7622723);

      //Map options.
      var options = {
        center: centerOfMap, //Set center.
        zoom: 6 //The zoom value.
      };

      //Create the map object.
      map = new google.maps.Map(document.getElementById('map'), options);

      //Listen for any clicks on the map.
      google.maps.event.addListener(map, 'click', function (event) {
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if (marker === false) {
          //Create the marker.
          marker = new google.maps.Marker({
            position: clickedLocation,
            map: map,
            draggable: true //make it draggable
          });
          //Listen for drag events!
          google.maps.event.addListener(marker, 'dragend', function (event) {
            markerLocation();
          });
        } else {
          //Marker has already been added, so just change its location.
          marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
      });
    }

    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation() {
      //Get location.
      var currentLocation = marker.getPosition();
      //Add lat and lng values to a field that we can save.
      document.getElementById('lat').value = currentLocation.lat(); //latitude
      document.getElementById('lng').value = currentLocation.lng(); //longitude
    }

  </script>
  {% include '/footer.html' %}
</body>

</html>