<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  {% include '/default_head.html' %}
</head>

<body>
  {% include '/header.html' %}
  <div id="container">
    <div class="pagetitle">
      <h2>¿Qué necesitas?</h2>
    </div>
    <div id="main">
      <form method="post" action="{{ url_for('stored_need_form') }}">
        <label for="title">Título:</label><input type="text" name="title">
        <label for="type">Tipo:</label>
        <select id="type" name="type">
          <option value="groceries">Hacer la compra</option>
          <option value="children-care">Canguro</option>
          <option value="other">Otro</option>
        </select><br>
        <label for="description">Descripción:</label><br>
        <textarea name="description" rows="6" cols="70"></textarea><br>
        <small>No es aconsejable dar excesivos detalles, ya se acordará por privado.</small><br>
        <label for="email">Correo:</label>
        <input type="email" name="email"><br>
        <small>El correo no se va a enviar a nadie, servirá para enviarte el contacto cuando alguien esté interesado.</small><br>
        <input type="text" name="lat" id="lat" readonly="yes" hidden>
        <input type="text" name="lng" id="lng" readonly="yes" hidden>
        Selecciona tu zona: <input id="query-box" class="controls" type="text" placeholder="Pueblo o barrio"><br> 
        <input id="distance" name="distance" class="controls" type="number" placeholder="" value="1000" max="2000" hidden>
        <small>No es aconsejable utilizar la dirección exacta (utilizar el barrio, por ejemplo), ya se acordará por privado.</small>
        <input type="submit">
        <div id="map"></div>
        
      </form>       
    </div>
  </div>
  <script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 39.9776665, lng: -4.7622723},
        zoom: 6,
        mapTypeId: 'roadmap',
          zoomControl: true,
          mapTypeControl: false,
          scaleControl: true,
          streetViewControl: false,
          rotateControl: true,
          fullscreenControl: true
      });

      // Create the search box and link it to the UI element.
      var input = document.getElementById('query-box');
      var searchBox = new google.maps.places.SearchBox(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = [];
      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }

          // Create a marker for each place.
          markers.push(new google.maps.Marker({
            map: map,
            title: place.name,
            position: place.geometry.location
          }));

          console.log(place.geometry.location.lat())
          console.log(place.geometry.location.lng())
          document.getElementById('lat').value = place.geometry.location.lat();
          document.getElementById('lng').value = place.geometry.location.lng();

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{context.key}}&libraries=places&callback=initAutocomplete" async defer></script>

{% include '/footer.html' %}
</body>
</html>