<!DOCTYPE html>
<html>
  <head>
    {% include '/default_head.html' %}
  </head>
  <body>
  {% include '/header.html' %}
    
    <h3>Ofrece tu ayuda - Selecciona tu zona de acción</h3> 
    <button onClick="window.location.reload();">Actualizar</button><button onclick="copyUrlToClipboard()">Compartir página de búsqueda</button>
    <button onclick="window.location='/select_zone';">Cambiar Zona</button>
    
<table>
  <tr>
    <th>Distancia</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Respuestas</th>
  </tr>
  {% for need in needs %}
  <TR  onclick="window.location='/need_detail?h={{need.hash}}';"  style="cursor:pointer">
     <TD>{{need.hash}}</TD>
     <TD>{{need.title}}</TD>
     <TD>{{need.description}}</TD>
     <td>0</td> 
  </TR>
  {% endfor %}
  </table>

<script>
    function copyUrlToClipboard() {
        var dummy = document.createElement('input'),
            text = window.location.href;
        document.body.appendChild(dummy);
        text = text + '&utm_medium=share';
        dummy.value = text
        dummy.select();
        document.execCommand('copy');
        alert("Enllaç copiat, pots compartir-lo per Watsapp, mail...: ");
        document.body.removeChild(dummy);
    }
</script>
{% include '/footer.html' %}
</body>
</html>